* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

body {
    width: 95%;
    margin:auto;
    background-color: black ;

    font-family: Arial;
    line-height: 1.5
}
.pagina {
    color: white;
}

ul {
    list-style: none;
}

label img {
    width: 30px;
}

